.input_group {
  border: none;
  border-radius: none;
}

.input_group input {
  border: 2px solid var(--foreground);
  outline: none;
  font-family: "Montserrat";
}

.input_group label {
  font-family: "Montserrat";
  color: var(--foreground);
}
